@import 'tailwindcss';

@custom-variant hocus (&:hover, &:focus);

@theme {
  /* brand colors */
  --color-primary: #3365a6;
  --color-secondary: #a2c3fc;

  /* alerts */
  --color-danger: #ff4646;
  --color-danger-light: rgba(255 70 70 / 20%);

  /* typography */
  --color-foreground: rgba(255 255 255 / 90%);
  --color-foreground-muted: rgba(255 255 255 / 70%);
  --color-foreground-subtle: rgba(255 255 255 / 50%);
  --color-link: rgba(110 184 247 / 90%);

  /* icons */
  --color-icon: rgba(255 255 255 / 70%);
  --color-icon-muted: rgba(255 255 255 / 60%);
  --color-icon-subtle: rgba(255 255 255 / 8%);
  --color-icon-disabled: rgba(255 255 255 / 50%);

  /* inputs */
  --color-input: rgba(255 255 255 / 10%);
  --color-input-muted: rgba(255 255 255 / 50%);

  /* buttons */
  --color-btn: rgba(255 255 255 / 15%);
  --color-btn-header: rgba(0 0 0 / 4%);
  --color-btn-secondary: rgba(109 162 252 / 80%);
  --color-btn-tertiary: rgba(129 176 255 / 40%);
  --color-btn-danger: rgba(255 70 70 / 40%);
  --color-btn-disabled: rgba(129 176 255 / 20%);

  /* surfaces & overlays */
  --color-background: #0d1634;
  --color-overlay: rgba(0 0 0 / 60%);
  --color-outline: rgba(255 255 255 / 10%);
  --color-container: rgba(255 255 255 / 5%);
  --color-status: rgba(255 255 255 / 10%);
}

@layer base {
  html {
    background-image: url('../../public/background.jpeg');
    @apply bg-cover bg-no-repeat bg-center bg-fixed bg-background text-white;
  }

  body {
    font-feature-settings: 'cv01', 'cv02', 'cv06', 'cv11', 'cv12', 'cv13';
    @apply bg-overlay font-sans backdrop-blur-[50px] h-screen p-4 pb-16 overflow-hidden;
  }

  div,
  form,
  button {
    @apply flex flex-col relative;
  }

  button,
  a {
    @apply cursor-pointer hover:brightness-90;
  }

  input[type='password']::-ms-reveal,
  input[type='password']::-ms-clear {
    display: none;
  }
}
